@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="~/css/index.css">
<script type="text/javascript" src="~/js/dropdown.js"></script>
<script src="https://kit.fontawesome.com/671f3bdf44.js"></script>
<link rel="stylesheet" href="~/css/headline.css">


<div class="headline_index">
    <p>ZEALAND MARKETPLACE</p>
</div>

<form method="get">
    <section class="section_search_box">
        <div class="container_search_box">
            <div class="box_search_box">

                <div class="filtering_dropdown">
                    
                        <div class="filter_slider">
                            <select class="sliding" asp-for="@Model.Category" asp-items="Html.GetEnumSelectList<Category>()">
                                <option selected="selected">All</option>
                            </select>
                            </div>
                    </div>

                    

                

                <div class="filtering_field">
                    <input asp-for="@Model.SearchTerm" type="text" class="input" placeholder="Search">
                    <button type="submit" class="button_search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </div>

            </div>
        </div>

    </section>
</form>


<main>
    <section class="card_section">
        @foreach (var item in Model.Items)
        {
            <div class="card_container">
                <div class="card_image">
                    @if (@item.ImageData == null)
                    {
                        <img alt="defaultPhoto" src="~/images/defaultPhoto.jpg">
                    }
                    else
                    {
                        <img alt="photo" src="data:image/png;base64,@Convert.ToBase64String(item.ImageData)">
                    }

                </div>


                <div class="card_text_content">
                    <div class="card_title">
                        <p class="text--medium">
                            @item.Name
                        </p>
                        <p class="text--medium text_bold">
                            @item.Price dkk
                        </p>
                    </div>
                    <div class="card_info">
                        <p class="text--medium">@item.Status</p>
                        <a asp-page="/Items/ItemDetails" asp-route-id="@item.ItemId" class="button_details">Details</a>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="button_delete_area">
                            <a asp-page="/Items/DeleteItem" asp-route-itemId="@item.ItemId" class="button_delete">Delete</a>
                        </div>
                    }

                </div>
            </div>
        }


    </section>
</main>